[include]
    path = ~/.gitconfig.inc

[user]
    name = Chih-Min Chao

[alias]
    ama = am --abort
    amc = am --continue
    ap = apply
    br = branch --color
    bi = bisect
    bib = bisect bad
    big = bisect good
    ce = cvsexportcommit -c
    ci = commit
    cia = commit -a
    cio = commit -o
    ca = commit --amend
    co = checkout
    cp = cherry-pick
    cdf = clean -d -f
    ft = format-patch
    lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"
    rbc = rebase --continue
    rba = rebase --abort
    sr = svn rebase
    sd = svn dcommit
    st = status -s
    sta = stash apply
    rb = rebase
    rbi = rebase -i
    rb2 = rebase -i HEAD~2
    rb3 = rebase -i HEAD~3
    rb4 = rebase -i HEAD~4
    rb5 = rebase -i HEAD~5
    rb6 = rebase -i HEAD~6
    rb7 = rebase -i HEAD~7
    rb8 = rebase -i HEAD~8
    rb9 = rebase -i HEAD~9
    rbn = rebase -i HEAD~20
    rt = reset
    rth = reset --hard
    rth1 = reset --hard HEAD~1
    rth2 = reset --hard HEAD~2
    rth3 = reset --hard HEAD~3
    di = diff
    dic = diff --cached
    praise = blame 
    pull = pull --ff-only
    ver = rev-parse --short

[apply]
    whitespace = strip

[diff]
    color = auto
    rename = copy 

[pager]
    color = true 
    status = true

[status]
    color = auto

[core]
    excludesfile = /home/cmchao/.gitignore
    editor = /usr/bin/vim
    pager = less -FXRS

[push]
    default = tracking

[hooks]
    indent = /home/cmchao/tool/bin/astyle

