[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s).
# ref : http://pylint-messages.wikidot.com/all-codes
# C0330  : Wrong hanging indentation
# RPXXXX : unneed verbose message
# W0511  : Used when a warning note as FIXME or XXX is detected.
# W0703  : Catching too general exception %s
disable=RP0801,RP0701,RP0101,RP0001,RP0003,W0511,W0703,C0330,

[REPORTS]
# Set the output format. Available formats are text, parseable, colorized, msvs
# (visual studio) and html
output-format=colorized

# Include message's id in output
#include-ids=yes
msg-template='{path}:{line}: [{msg_id} ({symbol}), {obj}] {msg}'

## Tells whether to display a full report or only the messages
reports=yes

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=100

# String used as indentation unit. This is usually " " (4 spaces) or "\t" (1
# tab).
indent-string='    '


[BASIC]
# Regular expression which should only match correct instance attribute names
attr-rgx=[a-z_][a-z0-9_]{2,30}$

# Regular expression which should only match correct class names
class-rgx=[A-Z_][a-zA-Z0-9]+$

# Regular expression which should only match correct module names
module-rgx=[a-z_][a-z0-9_]*$

# Regular expression which should only match correct function names
function-rgx=[a-z_][a-z0-9_]{2,30}$

# Regular expression which should only match correct method names
method-rgx=[a-z_][a-z0-9_]{2,30}$

# Regular expression which should only match correct argument names
argument-rgx=[a-z_][a-z0-9_]{2,30}$

# Regular expression which should only match correct variable names
variable-rgx=[a-z_][a-z0-9_]{2,30}$

# Regular expression which should only match correct module level names
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__))$

# Bad variable names which should always be refused, separated by a comma
bad-names=foo,bar,baz,toto,tutu,tata

[TYPECHECK]
# List of classes names for which member attributes should not be checked
# (useful for classes with attributes dynamically set).
ignored-classes=MySQLdb

[SIMILARITIES]
# Minimum lines number of a similarity.
min-similarity-lines=10

[pre-commit-hook]
limit=9
